In [12]:
from pyspark.sql import SparkSession

In [13]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [14]:

spark

In [15]:

df_pyspark=spark.read.csv('Third.csv',header=True,inferSchema=True)

In [16]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [17]:

df_pyspark.printSchema()

## Groupby
### Grouped to find the maximum salary
df_pyspark.groupBy('Name').sum().show()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [18]:
df_pyspark.groupBy('Name').avg().show()

### Groupby Departmernts  which gives maximum salary
df_pyspark.groupBy('Departments').sum().show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [19]:

df_pyspark.groupBy('Departments').mean().show()

df_pyspark.groupBy('Departments').count().show()

df_pyspark.agg({'Salary':'sum'}).show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+